* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
}

.btn {
  background-color: pink;
  padding: 2rem 3rem;
  border-radius: 7px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
}

.btn::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  background-color: orangered;
  border-radius: 100px;
  top: var(--yPos);
  left: var(--xPos);
  transform: translate(-50%, -50%);
  transition: width 0.5s, height 0.5s;
}

.btn:hover::before {
  width: 500px;
  height: 500px;
}

span {
  font-size: 2rem;
  z-index: 1;
  position: relative;
}
